# Web application
Django
# wsgi web http server
gunicorn
# for loading environment variable from .env
python-dotenv
# Sending telegram
telebot
# IP Geolocation
ip2geotools
# CI/CD, Auto Deployment
ansible
# For using default mysql django module
mysqlclient