{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>AWS Cloud Practitioner Review</h1>
Tài liệu học, quá trình học, quá trình thi, ...
<hr>
Mình mới thi chứng chỉ AWS Cloud Practitioner và qua với điểm số 867/1000. Sau đây là một số chia sẻ của mình.
<br>
<br>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="4ab44abb-9ca1-45ea-aaee-347165e46741" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
<br>
<h2>Tài liệu</h2>
<li>
    <a href="https://www.udemy.com/course/aws-certified-cloud-practitioner-new/">https://www.udemy.com/course/aws-certified-cloud-practitioner-new/</a>: Khóa học Udemy giới thiệu các dịch vụ chính trên AWS. Mình mượn tài khoản bạn có sẵn khoá học nên free.
    <ul>Ưu điểm khoá học:
        <li>Có summary sau mỗi phần học</li>
        <li>Có quiz sau mỗi phần học</li>
        <li>Có 1 bài thi thử + chữa vào cuối kỳ.</li>
    </ul>
</li>
<li>
    <a href="https://www.udemy.com/course/practice-exams-aws-certified-cloud-practitioner/">https://www.udemy.com/course/practice-exams-aws-certified-cloud-practitioner/</a>: Gồm 6 practice test. Cùng tác giả với khoá học trên. Mình mua gift khoá này trên facebook với giá 160k.
    <ul>Ưu điểm:
        <li>Có giải thích chi tiết các câu trả lời.</li>
        <li>Practice test cover đề thi.</li>
    </ul>
    <ul>Nhược điểm:
        <li>Một số câu hỏi dùng từ khá tối, một số câu giải thích không thuyết phục.</li>
        <li>Đề test khó hơn đề thi khá nhiều, nhiều câu đi sâu không cần thiết.</li>
    </ul>
</li>
<li>
    <a href="https://www.examtopics.com/exams/amazon/aws-certified-cloud-practitioner/">https://www.examtopics.com/exams/amazon/aws-certified-cloud-practitioner/</a>: Chứa gần 1000 câu hỏi, sát với đề thi thực tế (hoặc có thể y hệt ?). Có đáp án và giải thích.
</li>
<br>
<h2>Thời gian học: ~48h</h2>
Mình giành 4~5 ngày (~20h) hoàn thành khóa học AWS cloud practitioner. 5~6 ngày (~28h)  làm đề thi thử. Mình bắt đầu học từ ngày 31/08/2023, thi vào 14/09/2023 và có kết quả ngày 15/09/2023.
<br>
<br>
<h2>Quá trình học</h2>
<li>Sau khi hoàn thành khóa học AWS, mình làm bài thi thử. Kết quả lần đầu được 58% tạch, sau khi xem các câu chưa biết và làm lần 2 mình được 69% và vẫn tạch. Mình xem đáp án và làm lại cho đến khi đạt 100%.</li>
<li>Mình làm 6 bài practice test. Kết quả lần đầu trong khoảng 70-92% (không tạch lần nào). Mình xem đáp án và làm lại đến khi đạt 100%.</li>
<li>Mình làm quiz trên trang exam topics. Do thời gian có hạn mình chỉ có thể làm được tầm 200 / ~1000 câu. Nội dung giống đề thi thật, tương tự như trong practice test nhưng dễ hơn rất nhiều. Mình nghĩ nên làm hết do trong quá trình làm thỉnh thoảng mình gặp câu có kiến thức không liên quan hoặc hỏi mẹo, bẫy.</li>
<br>
<h2>Nội dung học</h2>
<li>Giới thiệu về các dịch vụ của AWS (chi tiết các dịch vụ xem tại khoá học AWS link ở trên)</li>
<li>Một số điều mình mới biết:
    <ul>
        <li>Auto scale in and out. Ví dụ, AWS dựa vào CPU utilization để tự động thêm và xoá server.</li>
        <li>AWS Lambda: Function as Service: Viết function, AWS tính tiền dựa trên số lần gọi function và thời gian tính toán.</li>
    </ul>
</li>
<h2>Quá trình thi</h2>
<li>Mình đăng ký thi theo hướng dẫn AWS. Mình thi tại THAISON HUMAN RESOURCES DEVELOPMENT JSC, 169 NGUYEN NGOC VU, TRUNG HOA, CAU GIAY. Ông chú hướng dẫn ở đây khá tận tình, nếu mình thi lại chắc mình vẫn đăng ký tại đây. Mình đăng ký thi lúc 3h40. Lúc mình đến tầm 2r nhưng sau khi làm xong thủ tục vẫn được vào thi luôn.</li>
<li><strong>Lưu ý khi đi thi:</strong> AWS yên cầu 2 thẻ ID. Nên mình phải chuẩn bị 2 thẻ bao gồm căn cước công dân và bằng lái xe.</li>
{% include "comment.html" %}
{% endblock %}