<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{% load static %}
<br>
<body>
    {% include 'navbar.html' %}

    <section style="display: flex; background: url({% static 'images/dien_bien_phu_city.webp'%}); background-size: cover; background-position: center center; height: 500px;" class="hero">
        <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div class="row">
              <div class="col-lg-12">
                <h1 style="color: #c76711; text-align: center;">Sấu Gấu's Blog</h1>
              </div>
          </div>
        </div>
    </section>
    <br>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>