{% extends 'base.html' %}
{% block content %}
<h1>Đây là nơi mình note lưu ý và viết những gì mình thích</h1>
<br>

<input class="form-control" id="search-box" type="text" placeholder="Tìm kiếm bài viết ...">
<div class="position-absolute invisible" id="form_complete"></div>
<br>
<button type="button" class="btn btn-primary" onclick="foo()">Search</button>

<div class="d-flex justify-content-end">
    <div class="col-2 d-flex">
        Sắp xếp theo: 
        <select class="form-select" id="selectOrder" onchange="redirectPage()">
            {% if order == 'day' %}
                <option selected value="day">Ngày đăng</option>
                <option value="views">Lượt xem</option>
            {% elif order == 'views' %}
                <option value="day">Ngày đăng</option>
                <option value selected="views">Lượt xem</option>
            {% else %}
                <option selected value="day">Ngày đăng</option>
                <option value="views">Lượt xem</option>
            {% endif %}
        </select>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
        {% for blog in blogs %}
            <article class="border">
                <h2 class="mt-2 ms-2"><a href="{% url 'blog-detail' blog.slug_url %}" style="text-decoration: none;">{{ blog.title }}</a></h2>
                <p class="mt-2 ms-2">{{ blog.snippet }}</p>
                {% for tag in blog.tags %}
                    <a href="{% url 'blog'%}?tag={{tag.name }}" class="tag-cloud-link border box bg-primary mx-2 p-2 rounded-3 text-white text-decoration-none">{{ tag.name }}</a>
                {% endfor %}

                <p class="px-3 text-end"><i>Ngày đăng: {{blog.date}}</i></p>
            </article>
            <br>
        {% endfor %}
        </div>
        <div class="col-sm-4">
            <div class="border">
                <h2 class="text-center text-primary">Tags</h2>
                <hr>
                <div class="container">
                    <div class="tag-cloud">
                        {% for tag in tags %}
                            <a href="{% url 'blog'%}?tag={{tag.name }}" class="tag-cloud-link border box bg-primary mx-1 p-2 rounded-3 text-white text-decoration-none">{{ tag.name }}</a>
                        {% endfor %}
                      </div>
                  </div>
                <br>
            </div>
        </div>
    </div>
</div>
{{ blogs|json_script:"blogs" }}
<script>
    function redirectPage() {
        const selectedOrder = document.getElementById('selectOrder').value;
        switch (selectedOrder) {
            case 'views':
            window.location.href = "{% url 'blog' %}?order=views";
            break;
            case 'day':
            window.location.href = "{% url 'blog' %}";
            break;
            default:
            window.location.href = "{% url 'blog' %}";
        }
    }

    const input = document.getElementById('search-input');
    const suggestionsList = document.getElementById('suggestions');
    var blogs = JSON.parse(document.getElementById('blogs').textContent);
    var titles = []
    for (const blog of blogs) {
    titles.push(blog.title);
    }
    set_autocomplete('search-box', 'form_complete', titles);
    function foo() {
        const selectedOrder = document.getElementById('search-box').value;
        for (const blog of blogs) {
            if (blog.title == selectedOrder) {
                console.log("yes")
                console.log(blog.slug_url)
                var url = "{% url 'blog-detail' 1 %}"
                window.location = url.replace("1", blog.slug_url);
            }
        }
    }
</script>
{% endblock %}
