{% extends 'base.html' %}
{% block content %}
<br>
<p style="font-family:'Courier New'; font-size: 1.5rem;"><i>
    "Remembering that I'll be dead soon is the most important tool I've encountered to help me make the big choices in life. Because almost everything, all external expectations, all pride, all fear of embarrassment or failure... these thing just fall away in the face of death, leaving only what is truly important. Remember that you are going to die is the best way I know to avoid the trap of thinking you have something to lose. You are already naked. There is no reason not to follow your heart."
</i></p>
<div class="text-end"><p style="font-size: 1.2rem;">Steve Jobs' 2005 Stanford Commencement Address</p></div>
{% endblock %}
