{% extends 'base.html' %}
{% block content %}
<h1>List 100</h1>
Điều mình muốn làm trước khi chết. Inspired by <a href="https://huyenchip.com/list-100/">https://huyenchip.com/list-100/</a>
<br>
Ngày tạo: Ngày 4 tháng 12 năm 2023. <br>
<hr>
1. Học tiếng Nhật (đạt từ N2 trở lên). &#x2715;<br>
2. Du học. &#x2715;<br>
3. Chạy full marathon 42 km. &#x2715;<br>
4. Paragliding. &#x2715;<br>
5. Học chơi 1 nhạc cụ. &#x2715;<br>
6. Thăm Mongolia. &#x2715;<br>
<!-- Không cần thêm <br> cuối trang do phần sau đã có <br> -->
{% endblock %}