{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Số ngày chạy liên tiếp: {{consecutive_day }}</h1>
<br>
<h2>7 ngày gần nhất 
  <label class="switch">
    <input type="checkbox" id="toggle-button">
    <span class="slider"></span>
  </label>
</h2>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h1>Quãng đường chạy</h1>
      <img src="{% static 'images/distance.webp' %}" class="img-fluid" id="distance">
    </div>
    <div class="col-lg-6">
      <h1>Thời gian chạy</h1>
      <img src="{% static 'images/duration.webp' %}" class="img-fluid" id="duration">
    </div>
    <div class="col-lg-6">
      <h1>Pace chạy</h1>
      <img src="{% static 'images/pace.webp' %}" class="img-fluid" id="pace">
    </div>
  </div>
</div>
<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  </style>
<script>
  const toggleButton = document.getElementById("toggle-button")
  toggleButton.addEventListener("change", () => {
    const distanceImg = document.getElementById("distance")
    const durationImg = document.getElementById("duration")
    const paceImg = document.getElementById("pace")
    if (toggleButton.checked) {
      distanceImg.setAttribute("src", "{% static 'images/distance-7-days.webp' %}")
      durationImg.setAttribute("src", "{% static 'images/duration-7-days.webp' %}")
      paceImg.setAttribute("src", "{% static 'images/pace-7-days.webp' %}")
    }
    else {
      distanceImg.setAttribute("src", "{% static 'images/distance.webp' %}")
      durationImg.setAttribute("src", "{% static 'images/duration.webp' %}")
      paceImg.setAttribute("src", "{% static 'images/pace.webp' %}")
    }

  }) 
</script>
{% endblock %}