{% extends 'base.html' %}
{% block content %}
<!-- Không cần thêm <br> cuối trang do phần sau đã có <br> -->
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<table>
    <tr>
        <th>Step</th>
        <th>KDD99</th>
        <th>CIC-IDS-2017</th>
        <th>UNSW-NB15</th>
        <th>ToN-IoT-Network</th>
    </tr>
    <tr>
        <th>Min Max Scaling</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
    </tr>
    <tr>
        <th>Re order training class</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
    </tr>
    <tr>
        <th>Learning rate 0.1</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
    </tr>
    <tr>
        <th>Batch size 32</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
    </tr>
    <tr>
        <th>Check for NaN data, Duplication data or Inf data</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
        <th>&#9989;</th>
    </tr>
{% endblock %}