<!DOCTYPE html>
{% include 'navbar.html' %}
  

{% load static %}
<!-- <img src="http://saugau.edge.vccloud.vn/static/mainpage/images/chad.jpeg" alt="Ảnh này bị lỗi"> -->
<br>
<!-- <img src="http://cdn.saugau.com/static/mainpage/images/chad.jpeg" alt="Ảnh này bị lỗi"> -->
<br>
<img src="https://saugau.sapphirecdn.com/static/mainpage/images/chad.jpeg" alt="Ảnh này bị lỗi">
<br>

<h1>Categories</h1>
<h2>Running: Statistic pace chạy</h2>
<br>
<img src="{% static 'mainpage/images/chad.jpeg' %}">
<br>
<br>
<img src="{% static 'mainpage/images/qtv.jpeg' %}">
<br>
<br>
<video width="320" height="240" controls>
    <source src="sample-mp4-file.mp4" type="video/mp4">
</video>
<video width="320" height="240" controls>
    <source src="foo.mp4" type="video/mp4">
</video>