{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <img src="https://saugau.sapphirecdn.com/static/mainpage/images/chad.jpeg" alt="saugau.sapphirecdn.com" class="img-fluid">
    <br>
    <h1>Categories</h1>
    <h2>Running: Statistic pace chạy</h2>
    <br>
    <img src="{% static 'mainpage/images/chad.jpeg' %}" class="img-fluid">
    <br>
    <br>
    <img src="{% static 'mainpage/images/qtv.jpeg' %}" class="img-fluid">
    <br>
    <br>
    <video width="320" height="240" controls>
        <source src="sample-mp4-file.mp4" type="video/mp4">
    </video>
    <video width="320" height="240" controls>
        <source src="foo.mp4" type="video/mp4">
    </video>
{% endblock %}
